body {
    overflow-x: hidden;
}

.navbar-brand {
    width: auto;
}

.navbar-nav {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 50px;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.nav-item.dropdown {
    display: flex;
    align-items: center;
}

.nav-item.dropdown .nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.first-block {
    height: 90vh;
    background-image: url('../img/pexels-googledeepmind-17483874.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.text-block {
    width: 80%;
    color: white;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

.wide-dropdown {
    width: 80vw;
    left: -300px;
    height: 200px;
    right: 0;
    padding: 1rem;
}

.wide-dropdown.comp {
    width: 52vw;
    left: -100px;
    height: 200px;
    right: 0;
    padding: 1rem;
}

.wide-dropdown.how {
    width: 60vw;
    left: -200px;
    right: 0;
    padding: 1rem;
}

.wide-dropdown.how .row.no-gutters {
    height: 150px;
}

.dropdown-menu .row {
    flex-wrap: nowrap;
}

.dropdown-menu .col-md-4 {
    padding: 1rem;
}

.dropdown-header {
    font-size: 1.1rem;
}

.dropdown-background {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.dropdown-background .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.dropdown-background .panel-title {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    color: white;
    margin-bottom: 20px;
    z-index: 9999;
}

.panel-title .title {
    font-size: 20px;
    font-weight: bold;
}

.panel-title .subtitle {
    opacity: 0.7;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#qual-link {
    padding-left: 0;
    font-weight: 600;
}
/* ________________ */
/*    LOGIN PAGE */
/* ________________ */

body.login-page {
    background-color: #f5f5f5;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form .custom-submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.g-recaptcha {
    margin: 0 auto 20px auto;
}